@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: "DM Sans", sans-serif;

  --color-primary-50: #fbf0e8;
  --color-primary-100: #f4d9c8;
  --color-primary-200: #e9bda3;
  --color-primary-300: #d99f7c;
  --color-primary-400: #c98763;
  --color-primary-500: #a86449;
  --color-primary-600: #8d4f38;
  --color-primary-700: #73402f;
  --color-primary-800: #5f3529;
  --color-primary-900: #4d2c24;
  --color-primary-950: #2f1a14;

  --color-primary-text: #fff8f0;
  --color-neutral-brand-color: #a86449;

  /* Earth palette */
  --color-earth-50: #fff8f0;
  --color-earth-100: #fbf0e8;
  --color-earth-200: #f0d7c5;
  --color-earth-300: #ead3c2;
  --color-earth-400: #d9bba4;
  --color-earth-500: #8f6f5f;
  --color-earth-600: #6f5145;
  --color-earth-700: #5f3d31;
  --color-earth-900: #3f2b24;
  --color-earth-sage-100: #dfe5cf;
  --color-earth-sage-600: #667449;
  --color-earth-sage-700: #75835a;

  /* Text Color */
  --color-text-50: #5f3d31;
  --color-text-100: #8f6f5f;
  --color-text-200: #a89282;
  --color-text-300: #ead3c2;

  /* Context Color */
  --color-error-500: #ef4444;
  --color-success-500: #75835a;
  --color-warning-500: #b98242;
  --color-info-500: #8f7f6b;

  /* Title */
  --color-title-50: #3f2b24;

  /* White */
  --color-white-100: #fff8f0;
  --color-white-90: #fff8f0cc;
  --color-white-80: #fff8f0cc;
  --color-white-70: #fff8f0b3;
  --color-white-60: #fff8f099;

  /* Border Color */
  --border-color-base-50: #fbf0e8;
  --border-color-base-100: #ead3c2;
  --border-color-base-200: #ead3c2;
  --border-color-base-300: #d9bba4;

  --color-chart-line: #ead3c2;

  /* Foreground Colors */
  --color-foreground-50: #3f2b24;
  --color-foreground-100: #5f3d31;

  /* Gray */
  --color-foreground-soft-50: #3f2b24;
  --color-foreground-soft-100: #5f3d31;
  --color-foreground-soft-200: #6f5145;
  --color-foreground-soft-300: #3f2b24;
  --color-foreground-soft-400: #5f3d31;
  --color-foreground-soft-500: #8f6f5f;

  /* Background Colors */
  --color-background-50: #fff8f0;
  --color-background-100: #fff8f0;

  /* Gray colors */
  --color-background-soft-50: #fbf0e8;
  --color-background-soft-100: #fbf0e8;
  --color-background-soft-200: #f0d7c5;
  --color-background-soft-300: #fbf0e8;
  --color-background-soft-400: #ead3c2;
  --color-background-soft-500: #d9bba4;

  --color-background-success-600: #16a34a;

  /* ======== Button Color =========*/

  /* Primary */
  --color-button-primary-background: #a86449;
  --color-button-primary-hover-background: #8d4f38;
  --color-button-primary-text: #fff8f0;
  --color-button-primary-focus-ring: rgba(168, 100, 73, 0.22);

  /* Outline */
  --color-button-outline-background: #fff8f0;
  --color-button-outline-hover-background: #fbf0e8;
  --color-button-outline-border: #d9bba4;
  --color-button-outline-focus-ring: rgba(168, 100, 73, 0.16);
  --color-button-outline-text: #5f3d31;
  --color-button-outline-hover-text: #3f2b24;
  --color-button-outline-disabled-background: #fff8f0;
  --color-button-outline-disabled-text: #a89282;
  --color-button-outline-disabled-border: #fbf0e8;

  /* Disable */
  --color-button-disabled-background: #fbf0e8;
  --color-button-disabled-border: #fbf0e8;
  --color-button-disabled-text: #a89282;

  /* Error */
  --color-button-error-background: #dc2626;
  --color-button-error-hover-background: #b91c1c;
  --color-button-error-border: #ef4444;
  --color-button-error-text: #ffffff;
  --color-button-error-focus-ring: rgba(220, 38, 38, 0.2);

  /* Error Outline */
  --color-button-error-outline-background: #fef2f2;
  --color-button-error-outline-hover-background: #fecaca;
  --color-button-error-outline-border: #ef4444;
  --color-button-error-outline-focus-border: #dc2626;
  --color-button-error-outline-focus-ring: rgba(220, 38, 38, 0.2);
  --color-button-error-outline-text: #b91c1c;
  --color-button-error-outline-hover-text: #b91c1c;

  /* Success */
  --color-button-success-background: #75835a;
  --color-button-success-hover-background: #667449;
  --color-button-success-border: #9faf88;
  --color-button-success-text: #fff8f0;
  --color-button-success-focus-ring: rgba(117, 131, 90, 0.2);

  /* Success Outline */
  --color-button-success-outline-background: #f0fdf4;
  --color-button-success-outline-hover-background: #bbf7d0;
  --color-button-success-outline-border: #22c55e;
  --color-button-success-outline-focus-border: #16a34a;
  --color-button-success-outline-text: #15803d;
  --color-button-success-outline-hover-text: #15803d;
  --color-button-success-outline-focus-ring: rgba(22, 163, 74, 0.2);

  /* Ghost */
  --color-button-ghost-text: #a89282;
  --color-button-ghost-hover-text: #6f5145;
  --color-button-ghost-hover-background: #fbf0e8;

  /* Button Group Primary */
  --color-button-group-primary-background: #fff8f0;
  --color-button-group-primary-hover-background: #a86449;
  --color-button-group-primary-text: #a86449;
  --color-button-group-primary-hover-text: #fff8f0;

  /* Button Group Secondary */
  --color-button-group-secondary-background: #fff8f0;
  --color-button-group-secondary-text: #5f3d31;

  /* ======== Badge Color =========*/

  /* Badge Neutral */
  --color-badge-neutral-background: #fbf0e8;
  --color-badge-neutral-text: #5f3d31;
  --color-badge-neutral-icon-color: #8f6f5f;

  /* Badge Primary */
  --color-badge-primary-background: #fbf0e8;
  --color-badge-primary-text: #8d4f38;
  --color-badge-primary-icon-color: #a86449;

  /* Badge Error */
  --color-badge-error-background: #fef2f2;
  --color-badge-error-text: #b91c1c;
  --color-badge-error-icon-color: #ef4444;

  /* Badge Warning*/
  --color-badge-warning-background: #ead7b8;
  --color-badge-warning-text: #946b33;
  --color-badge-warning-icon-color: #b98242;

  /* Badge Success*/
  --color-badge-success-background: #dfe5cf;
  --color-badge-success-text: #667449;
  --color-badge-success-icon-color: #75835a;

  /* Badge Cyan */
  --color-badge-cyan-background: #f0d7c5;
  --color-badge-cyan-text: #8d4f38;
  --color-badge-cyan-icon-color: #a86449;

  /* Badge Sky */
  --color-badge-sky-background: #fbf0e8;
  --color-badge-sky-text: #73402f;
  --color-badge-sky-icon-color: #9f5f45;

  /* Badge Blue */
  --color-badge-blue-background: #f0d7c5;
  --color-badge-blue-text: #8d4f38;
  --color-badge-blue-icon-color: #a86449;

  /* Badge Violet */
  --color-badge-violet-background: #f5f3ff;
  --color-badge-violet-text: #6d28d9;
  --color-badge-violet-icon-color: #8b5cf6;

  /* Badge Purple */
  --color-badge-purple-background: #faf5ff;
  --color-badge-purple-text: #7e22ce;
  --color-badge-purple-icon-color: #a855f7;

  /* Badge Pink */
  --color-badge-pink-background: #fdf2f8;
  --color-badge-pink-text: #be185d;
  --color-badge-pink-icon-color: #ec4899;

  /* Badge Rose */
  --color-badge-rose-background: #fff1f2;
  --color-badge-rose-text: #be123c;
  --color-badge-rose-icon-color: #f43f5e;

  /* Badge Orange */
  --color-badge-orange-background: #fff7ed;
  --color-badge-orange-text: #c2410c;
  --color-badge-orange-icon-color: #f97316;

  /* ======== Chart =========*/

  --color-chart-tick: var(--color-text-50);
  --color-chart-legend: var(--color-text-50);
  --color-chart-grid: var(--border-color-base-100);

  /* ======== Sidebar =========*/

  /* Nav Item */
  --color-sidebar-nav-default-background: #fff8f0;
  --color-sidebar-nav-hover-background: #fbf0e8;
  --color-sidebar-nav-secondary-hover-background: #f4d9c8;
  --color-sidebar-nav-hover-text: #5f3d31;
  --color-sidebar-nav-active-text: #8d4f38;
  --color-sidebar-nav-active-background: #fbf0e8;
  --color-sidebar-nav-focused-background: #fbf0e8;
  --color-sidebar-nav-default-text: #6f5145;
  --color-sidebar-nav-icon: #8f6f5f;

  /* Sidebar Badge */
  --color-sidebar-badge-background: #a86449;
  --color-sidebar-badge-text: #fff8f0;

  /* Sidebar Footer */
  --color-sidebar-footer-background: #fff8f0;
  --color-sidebar-footer-title: #3f2b24;
  --color-sidebar-footer-subtitle: #8f6f5f;
  --color-sidebar-footer-button-text: #fff8f0;

  /* ======== Card Color =========*/
  --color-card-background-50: #fff8f0;
  --color-card-background-100: #fff8f0;
  --color-card-background-200: #fbf0e8;
  --color-card-background-300: #fbf0e8;

  /* ======== Alert Success Color =========*/
  --color-alert-success-background: #dfe5cf;
  --color-alert-success-icon-background: #75835a;
  --color-alert-success-border: #c5cfb0;
  --color-alert-success-close-icon: #667449;
  --color-alert-success-title: #4f5a3d;
  --color-alert-success-description: #667449;
  --color-alert-success-button-background: #75835a;
  --color-alert-success-button-hover-background: #667449;
  --color-alert-success-button-text: #667449;

  /* ======== Alert Danger Color =========*/
  --color-alert-danger-background: #fef2f2;
  --color-alert-danger-icon-background: #dc2626;
  --color-alert-danger-border: #fecaca;
  --color-alert-danger-close-icon: #b91c1c;
  --color-alert-danger-title: #991b1b;
  --color-alert-danger-description: #b91c1c;
  --color-alert-danger-button-background: #dc2626;
  --color-alert-danger-button-hover-background: #b91c1c;
  --color-alert-danger-button-text: #b91c1c;

  /* ======== Alert Info Color =========*/
  --color-alert-info-background: #f0f9ff;
  --color-alert-info-icon-background: #0ea5e9;
  --color-alert-info-border: #bae6fd;
  --color-alert-info-close-icon: #0284c7;
  --color-alert-info-title: #075985;
  --color-alert-info-description: #0369a1;
  --color-alert-info-button-background: #0284c7;
  --color-alert-info-button-hover-background: #0369a1;
  --color-alert-info-button-text: #0369a1;

  /* ======== Alert Warning Color =========*/
  --color-alert-warning-background: #fefce8;
  --color-alert-warning-icon-background: #eab308;
  --color-alert-warning-border: #fef08a;
  --color-alert-warning-close-icon: #ca8a04;
  --color-alert-warning-title: #854d0e;
  --color-alert-warning-description: #a16207;
  --color-alert-warning-button-background: #ca8a04;
  --color-alert-warning-button-hover-background: #a16207;
  --color-alert-warning-button-text: #ca8a04;

  /* ======== Alert Default Color =========*/
  --color-alert-default-background: #fbf0e8;
  --color-alert-default-icon-background: #8f6f5f;
  --color-alert-default-border: #ead3c2;
  --color-alert-default-close-icon: #6f5145;
  --color-alert-default-title: #3f2b24;
  --color-alert-default-description: #5f3d31;
  --color-alert-default-button-background: #8f6f5f;
  --color-alert-default-button-hover-background: #6f5145;
  --color-alert-default-button-text: #5f3d31;

  /* ======== Input Color =========*/
  --color-input-background: #fff8f0;
  --color-input-label-text: #5f3d31;
  --color-input-disabled-text: #d9bba4;
  --color-input-placeholder-text: #a89282;
  --color-input-primary-focus-border: #c98763;
  --color-input-error-focus-border: #ef4444;
  --color-input-success-focus-border: #75835a;
  --color-input-error: #ef4444;
  --color-input-success: #75835a;

  /* ======== Tab Color =========*/
  --color-tab-background: #fbf0e8;
  --color-tab-active-background: #fff8f0;
  --color-tab-secondary-active-background: #fbf0e8;

  /* ======== Checkbox Color =========*/
  --color-checkbox-background: #fff8f0;
  --color-checkbox-checked-border: #a86449;
  --color-checkbox-checked-background: #a86449;
  --color-checkbox-checked-icon-color: #fff8f0;

  /* ======== Scrollbar Color =========*/
  --color-scrollbar-background: #ead3c2;

  /* ======== Datepicker Color =========*/
  --color-datepicker-background: #fff8f0;
  --color-datepicker-selected-background: #a86449;
  --color-datepicker-selected-hover-background: #fbf0e8;

  /* ======== Dropdowns Color =========*/
  --color-dropdown-background: #fff8f0;
  --color-dropdown-hover-background: #fbf0e8;
  --color-dropdown-secondary-background: #fff8f0;
  --color-dropdown-divider: #f0d7c5;

  /* ======== Calendar Color =========*/
  --color-calendar-primary-badge: #a86449;
  --color-calendar-primary-background: #fbf0e8;
  --color-calendar-success-badge: #75835a;
  --color-calendar-success-background: #dfe5cf;
  --color-calendar-warning-badge: #b98242;
  --color-calendar-warning-background: #ead7b8;
  --color-calendar-danger-badge: #ef4444;
  --color-calendar-danger-background: #fef2f2;
  --color-calendar-info-badge: #8f7f6b;
  --color-calendar-info-background: #f0d7c5;
  --color-calendar-text: #5f3d31;
  --color-calendar-menu-text: #8f6f5f;
  --color-calendar-dropdown-background: #fff8f0;

  /* ======== Pricing Table Color =========*/
  --color-pricing-active-switcher-background: #ffffff;
  --color-pricing-active-card-background: #1f2937;
  --color-pricing-button-background: #1f2937;
  --color-pricing-icon-color: #a86449;
  --color-pricing-icon-background: #fbf0e8;

  /* ======== FAQ's Color =========*/
  --color-faq-primary-active-background: #f9fafb;
  --color-faq-secondary-active-background: #fbf0e8;
  --color-faq-secondary-active-border: #dae2ff;
  --color-faq-secondary-active-title: #1f2937;
  --color-faq-secondary-active-text: #374151;

  /* ======== Chat List Color =========*/
  --color-chat-list-background-primary: #374151;
  --color-chat-list-background-primary-alt: #fbf0e8;
  --color-chat-list-background-secondary: #a86449;
  --color-chat-list-background-secondary-alt: #dae2ff;

  /* ======== Tooltip Color =========*/
  --color-tooltip-text: #5f3d31;
  --color-tooltip-border: #ead3c2;

  /* ======== Popovers Color =========*/
  --color-popover-title-background: #fbf0e8;
  --color-popover-border: #ead3c2;

  /* ======== Skeleton Color =========*/
  --color-skeleton-gradient-50: #ead3c2;
  --color-skeleton-gradient-100: #fbf0e8;
  --color-skeleton-gradient-200: #ead3c2;

  /* ======== 404 Page Color =========*/
  --color-404-background: #ffffff66;
  --color-404-foreground: #e5e7eb;

  /* ======== Blogs Color =========*/
  --color-blog-shape: #e5e7eb;

  /* ======== Modal Color =========*/
  --color-modal-button-success-background: #16a34a;
  --color-modal-button-info-background: #0284c7;
  --color-modal-button-warning-background: #ca8a04;
  --color-modal-button-error-background: #dc2626;

  /* ======== Section Title Color =========*/
  --color-section-title-badge: #a86449;
  --color-section-title-badge-background: #a864490d;

  /* ======== Mobile Nav Menu Button Color =========*/
  --color-mobile-nav-icon: #5f3d31;
  --color-mobile-nav-background: #fff8f0;
  --color-mobile-nav-hover-background: #fbf0e8;

  /* ======== Footer Color =========*/
  --color-footer-card-background: #fbf0e8;
  --color-footer-background: #fff8f0;

  /* ======== Bento Color =========*/
  --color-bento-card-background: #fbf0e8;
  --color-bento-gradient-shade-1: #fff8f000;
  --color-bento-gradient-shade-2: #fff8f080;
  --color-bento-gradient-shade-3: #fff8f0;

  /* ======== CTA Color =========*/
  --color-cta-icon-background: #fff8f0;
  --color-cta-background: #fff8f0;

  /* ======== Hero Color =========*/
  --color-hero-background: #f6eadf;
  --color-hero-card-background: #fff8f0;
  --color-hero-card-2-background: #fbf0e8;
  --color-hero-gradient-shade-1: #fff8f099;
  --color-hero-gradient-shade-2: #fff8f0;

  /* ======== Toggle Color =========*/
  --color-toggle-default-background: #ead3c2;
  --color-toggle-disabled-foreground: #fff8f0;
  --color-toggle-disabled-background: #fbf0e8;
  --color-toggle-active-background: #a86449;

  /* ======== Map Color =========*/
  --color-map-fill: #d1d5db;

  /* ======== AI Sidebar Gradient Color =========*/
  --color-ai-sidebar-primary-gradient-shade-1: #fff8f0;
  --color-ai-sidebar-primary-gradient-shade-2: #fff8f000;
  --color-ai-sidebar-secondary-gradient-shade-1: #fbf0e8;
  --color-ai-sidebar-secondary-gradient-shade-2: #fbf0e800;

  /* ======== AI Sidebar Menu Color =========*/
  --color-ai-sidebar-hover-primary-shade-1: #fbf0e8;
  --color-ai-sidebar-hover-primary-shade-2: #fbf0e800;
  --color-ai-sidebar-hover-secondary-shade-1: #ead3c2;
  --color-ai-sidebar-hover-secondary-shade-2: #ead3c200;
  --color-ai-sidebar-hover-primary-background: #fbf0e8;
  --color-ai-sidebar-hover-secondary-background: #ead3c2;
  --color-ai-title-gradient-shade-1: #3f2b24;
  --color-ai-title-gradient-shade-2: #a89282;
  --color-ai-hero-blend-1: #fbf0e8;
  --color-ai-hero-blend-2: #fbf0e800;

  /* Shadows */
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-md:
    0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-lg:
    0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-2xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-3xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --drop-shadow-theme-3xl: 0 32px 64px rgba(16, 24, 40, 0.14);
  --popover-shadow: 0px 5px 5px -2px rgba(16, 24, 40, 0.04);
  --shadow-hero: 0px -14px 100px 0px rgba(0, 0, 0, 0.05);

  --animate-pulse-custom: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
}
